@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --text-light: #000000;
  --bg-light: #ffffff;
}

/* Dark theme */
:root.dark {
  --background: #000000;
  --foreground: #ffffff;
  --text-light: #ffffff;
  --bg-light: #000000;
}

/* Global styles */
html {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}
